<%= form_tag reconcile_rehearsal_path(@rehearsal, @path_params) do |f| %>
<table class="attendance">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Tap in/out times</th>
    <th>Overrides</th>
    <th></th>
    <th>Final value</th>
  </tr>
  <% @registrations.each do |reg| %>
    <tr>
      <td><%= reg.chorus_number %></td>
      <td><%= reg.performer.name %></td>
      <%
        times = []
        overrides = []
        @records[reg.performer_id].each do |record|
          if record.is_swipe_or_manual?
            times << record
          elsif record.is_override?
            overrides << record
          end
        end
      %>
      <td><%= times.map { |record| record.display_timestamp }.join(', ') %></td>
      <td><% overrides.each do |record| %><%= record %><% end %></td>
      <%
        final_record = @final_records[reg.performer_id]
        select_options = ['', 'present', 'absent']
      %>
      <%= record_tag('td', final_record, @rehearsal) %>
      <td>
        <%= select "performer", reg.performer.id, options_for_select(select_options, final_record.present ? 'present' : 'absent') %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= submit_tag 'Save attendance' %></td>
</table>
<% end %>
