<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
    <% if flash[:error_detail] %>
      <a href="#">Show details</a>
      <div class="detail hidden"><%= flash[:error_detail] %></div>
    <% end %>
  </div>
<% end %>
<h2>Rehearsal: <%= @rehearsal.display_name %></h2>
<% sections = %w{T1U T1L T2U T2L B1U B1L B2U B2L} %>
<ul>
  <li><%= link_to 'Checkin system on tablet', checkin_rehearsal_path(@rehearsal) %></li>
  <li><%= link_to 'Checkin without keypad', checkin_rehearsal_path(@rehearsal, :anchor => 'numpad=false') %></li>
  <li>Take attendance:
    <ul>
    <% sections.each do |section| %>
      <li><%= link_to section, attendance_rehearsal_path(@rehearsal, section: section, type: 2) %></li>
    <% end %>
    </ul>
  </li>
  <li>View raw attendance:
    <ul>
    <% sections.each do |section| %>
      <li><%= link_to section, raw_attendance_rehearsal_path(@rehearsal, section: section) %></li>
    <% end %>
    </ul>
  </li>
</ul>

<%= form_tag force_records_rehearsal_path(@rehearsal) do %>
  <%= submit_tag 'Create final attendance records' %>
<% end %>
<% if user_can_send_emails %>
  <%= form_tag send_summaries_rehearsal_path(@rehearsal) do %>
    <%= submit_tag 'Send summary emails' %>
  <% end %>
<% end %>
