<h1>Detailed report for <%= @performer.name %></h1>
<p>Email: <%= mail_to @performer.email %><br>
Section: <%= @registration.section %><br>
Chorus Number: <%= @registration.chorus_number %><br>
Generated:  <%= @date.strftime('%Y-%m-%d %l:%M:%S %p') %></p>
<h2>Rehearsals for <%= @concert.name %></h2>
<table>
<tr>
<th>Rehearsal</th>
<th>Status</th>
<th>Timestamps</th>
<th>Override</th>
</tr>
<% @rehearsals.each do |_, rehearsal| %>
  <tr>
  <td><%= rehearsal[:name] %></td>
  <td><%= if rehearsal[:present] === nil; 'Unknown'; elsif rehearsal[:present]; 'Present'; else 'Absent'; end %></td>
  <td><% rehearsal[:raw_records].each do |record| %>
  <%= record.display_timestamp %>
  <% end %></td>
  <td>
  <% if !(rehearsal[:override] === nil) %>
  <%= rehearsal[:override] ? 'Present' : 'Absent' %>
  <% end %>
  </td>
  </tr>
<% end %>
</table>

<p>This report does not indicate whether a rehearsal was required or a makeup,
nor does it indicate whether it counts for more than one rehearsal. The
&ldquo;Override&rdquo; column indicates that a Section Coordinator explicitly
marked the performer as present or absent, as indicated by the value in that
column.</p>
