<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
    <% if flash[:error_detail] %>
      <a href="#">Show details</a>
      <div class="detail hidden"><%= flash[:error_detail] %></div>
    <% end %>
  </div>
<% end %>
<h1>Detailed report for <%= @performer.name %></h1>
<p>Email: <%= mail_to @performer.email %><br>
Section: <%= @registration.section %><br>
Chorus Number: <%= @registration.chorus_number %><br>
Generated:  <%= @date.strftime('%Y-%m-%d %l:%M:%S %p') %></p>
<h2>Rehearsals for <%= @concert.name %></h2>
<table>
<tr>
<th>Rehearsal</th>
<th>Status</th>
<th>Timestamps</th>
<th>Override</th>
</tr>
<% @rehearsals.each do |rehearsal| %>
  <tr>
  <td><%= rehearsal[:name] %></td>
  <td><%= if rehearsal[:present] === nil; 'Unknown'; elsif rehearsal[:present]; 'Present'; else 'Absent'; end %></td>
  <td><%= rehearsal[:raw_records].map { |record| record.display_timestamp }.join(', ') %></td>
  <td>
  <% if !(rehearsal[:override] === nil) %>
  <%= rehearsal[:override] ? 'Present' : 'Absent' %>
  <% end %>
  </td>
  </tr>
<% end %>
</table>

<p>This report does not indicate whether a rehearsal was required or a makeup,
nor does it indicate whether it counts for more than one rehearsal. The
&ldquo;Override&rdquo; column indicates that a Section Coordinator explicitly
marked the performer as present or absent, as indicated by the value in that
column.</p>

<p><%= link_to 'History', performer_path(@performer) %></p>

<% if user_can_send_emails %>
  <%= form_tag send_performer_details_concerts_path(@registration) do %>
    <%= submit_tag 'Send report in email' %>
  <% end %>
<% end %>
