<p>
To import data from groupanizer, download the csv from
<a href="https://sfgmc.groupanizer.com/gs_member_export_csv">here</a>,
and then upload the file to this form.
</p>
<%= form_tag import_performers_path, multipart: true do |f| %>
  <%= file_field_tag 'csv' %>
  <%= submit_tag %>
<% end %>
<p>Audit csv import: doesn't change any data - just looks at the data and checks for missing chorus numbers or sections</p>
<%= form_tag audit_performers_path, multipart: true do |f| %>
  <%= file_field_tag 'csv' %>
  <%= submit_tag %>
<% end %>
