<h2>Rehearsals</h2>
<ul>
  <li><%= link_to 'Upcoming rehearsals', rehearsals_path %></li>
  <% if @next_rehearsal %>
    <li><%= link_to "Next rehearsal (#{@next_rehearsal.display_name})",
            rehearsal_path(@next_rehearsal) %></li>
  <% end %>
  <% if @prev_rehearsal %>
    <li><%= link_to "Previous rehearsal (#{@prev_rehearsal.display_name})",
            rehearsal_path(@prev_rehearsal) %></li>
  <% end %>
</ul>
<h2>Concerts</h2>
<% @concerts.each do |concert| %>
  <h3><%= concert.name %></h3>
  <ul>
    <li><%= link_to 'Attendance', attendance_concert_path(concert) %></li>
    <li><%= link_to 'Rehearsals', rehearsals_concert_path(concert) %></li>
  </ul>
<% end %>
<h2>Management</h2>
<ul>
  <li><%= link_to 'Register cards', cards_path %></li>
</ul>
