<p>
<%= form_tag scraper_login_path do %>
  <%= text_field_tag 'username' %>
  <%= password_field_tag 'password' %>
  <%= submit_tag %>
<% end %>
</p>
<p>
<%= form_tag scraper_update_rehearsals_path do %>
  <%= submit_tag 'Update Rehearsals' %>
<% end %>
</p>
