<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>
<div>
  <p>
    Use the buttons below to update info from Chorus Connection. If update
    fails, enter the email and password used to log into Chorus Connection,
    press login, and then try the update again.
  </p>
  <p>
  <%= form_tag scraper_login_path do %>
    <%= text_field_tag 'username' %>
    <%= password_field_tag 'password' %>
    <%= submit_tag 'Login to CC' %>
  <% end %>
  </p>
  <p>
  <%= form_tag scraper_update_rehearsals_path do %>
    <%= submit_tag 'Update Rehearsals' %>
  <% end %>
  </p>
  <p>
  <%= form_tag scraper_update_performers_path do %>
    <%= select('concert', 'id', Concert.all.collect {|c| [c.name, c.id]}, { include_blank: true}) %>
    <%= submit_tag 'Update Performers' %>
  <% end %>
  </p>
</div>
