<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<p>View <%= link_to 'performers with cards', cards_path %></p>
<h2>Performers without cards</h2>
<table>
<% @registrations.each do |registration| %>
  <tr>
    <%= form_for(Card.new(:performer => registration.performer)) do |f| %>
    <td><%= registration.chorus_number %></td>
    <td><%= registration.performer.name %></td>
    <td>
      <%= f.text_field :card_id %>
      <%= f.hidden_field :performer_id %>
      <%= f.submit %>
    </td>
  <% end %>
  </tr>
<% end %>
