<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#f44336" />
<title>SFGMC Attendance</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= content_for :head %>
</head>
<body>
<div id="topbar">
<h1>SFGMC Attendance</h1>
</div>
<div id="content-wrapper">
<%= yield %>
</div>
</body>
</html>
